<br><br><br><br>
<div class="admin-title">
  <h2 style="font-size: 30px; text-indent:400px" >Add New Post</h2>
</div><br>

<form action="/add-post" method="POST">

  <label for="title" style="font-size: 25px;"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" style="font-size: 20px;"><br>

  <label for="body" style="font-size: 25px;"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10" style="font-size: 20px;"></textarea>

  <input type="submit" value="Add" class="btn" style="font-size: 18px;" >

</form>