<header class="header">
    <a href="/" style="color:gray">Home</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/dashboard" class="" style="font-size: 40px;">Dashboard</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <a href="/logout" style="color:gray">
          Logout
        </a>
    </div>
</header>