<br><br>
<a href="/dashboard" style="font-size: 25px;">&larr; Back</a><br><br><br>
<h1 style="text-align: center;"><%= data.title %></h1>
<article class="articles">
    <%= data.body %>
</article>